---
layout: default
permalink: /
---

<div>
  <h1>Featured Articles</h1>
    {% for post in site.posts %}
      {% if post.title == "Medium Index" %}
        {{ post.content }}
      {% endif %}
  {% endfor %}
</div>



{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

{% for year in posts_by_year %}
  {% if year.name > "2019" %}
    <div>
      <h1>{{ year.name }}</h1>
      {% for post in year.items %}
        {% if post.category != 'hidden' %}
          <div class="article-list-item" >
          <a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>
          <span class="copy">&nbsp;—&nbsp;{{ post.date | date_to_string }}</span>
        {% endif %}
      {% endfor %}
    </div> 
  {% endif %}
{% endfor %}

<div>
  <h1>2019 and Before</h1>
  {% for year in posts_by_year %}
    {% if year.name <= "2019" %}
      {% for post in year.items %}
        {% if post.category != 'hidden' %}
          <div class="article-list-item" >
            <a href="{{post.url | prepend: site.baseurl}}">{{ post.title }}</a>
            <span class="copy">&nbsp;—&nbsp;{{ post.date | date_to_string }}</span>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
