<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WLBRKMS83E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WLBRKMS83E');
</script>
<script>
  // Only load on production environment.
  if (window.location.host !== 'mourjo.me') {
      window.goatcounter = {no_onload: true}
  }
</script>
<script data-goatcounter="https://stats.mourjo.me/count" async src="//stats.mourjo.me/count.js"></script>
