html, body {
    height: 100%;
}

body {
        max-width: $content-width;
        font-family: $base-font-family;
        margin: 0 auto;
        line-height: $base-line-height;
        font-size: $base-font-size;
        color: $text-color;
        padding: 2em 1em;
        text-rendering: optimizeLegibility;
        height: 100%;
        @include media-query($on-palm) {
            max-width: 100%;
            padding: 1em;
        }

    }

    h1 {
         color: $backdrop-color;
         font-family: $base-font-family;
         font-weight: bold;
         line-height: $base-line-height/1.5;
         margin: 0;
         text-transform: capitalize;
    }
    h2,h3,h4,h5,h6 {
         color: $brand-color;
         font-family: $base-font-family;
         line-height: $base-line-height;
         font-size: $base-font-size;
         text-transform: capitalize;
    }


a {
    color: $brand-color;
    text-decoration: none;
    &:hover{
     color: $text-color;   
    }
}



p a {
    color: $text-color;
    text-decoration: none;
    background: -webkit-linear-gradient(transparent 90%, lighten($brand-color, 10%) 10%);

    box-shadow: inset 0 0 0 0 lighten($brand-color, 10%);
    -webkit-transition: box-shadow ease 1s;
	-moz-transition: box-shadow ease 1s;
	transition: box-shadow ease 1s;
}


figure {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

pre,
code {
    overflow: auto;
    font-size: 0.7*$base-font-size;
    border-radius: 3px;
    border: 1px solid $brand-color;
    > code {
        border: none;
    }
}
pre {
        padding: 1em;
    }
code {
    padding: 0.1em;
    }
blockquote {
    border-left: 2px solid $brand-color;
    padding-left: 1em;
    font-family: $base-font-family;
    font-size: 0.9*$base-font-size;
    font-style: italic;
    }



.headline, .post-headline {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    
        @include media-query($on-palm) {
            font-size: 2em;
        }
    }


/* Home Button */
.home {
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    font-size: $base-font-size * 2;
    margin-bottom: 20px;
    position: fixed;
    top: 50px;
    left: 50px;
    &:hover{
    opacity: 1;
    }
    @include media-query($on-laptop) {
        top: 90%;
        left: 90%;
        height: 30px;
        font-size: $base-font-size * 1.25;
        width: 30px;
    }
}



/* Article list in index/home page */
.article-list {
    margin: 1em 0;
}


/* Add video class for iframes to make them responsive */
.video {
    width: 100%;
    height: 360px;
    @include media-query($on-laptop) {
        height: 300px;
    }
    @include media-query($on-palm) {
        height: 180px;
    }   
}

// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $brand-color;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

/* Theme switch button */
.theme {
    cursor: pointer;
}

/* Footer */
footer {
    position: relative;
    margin-bottom:0.75em;
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
}

/* Footer copyrights */
.copy {
    color: #aaa;
}

/* Horizontal Divider */
.divider {
    margin: 1em 0;
}



/* Navbar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $backdrop-color;
    overflow-x: hidden;
    transition: 0.25s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: $base-font-size;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: $base-font-size * 2;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
