---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <script src="/blog/js/search.js"> </script>

  
  <meta name="robots" content="index,noarchive,follow,max-image-preview:large">

    {% if page.title %}
      <title>{{ page.title }} | Mourjo Sen</title>
      {% if page.math %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.14/dist/katex.min.css">
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.14/dist/katex.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.14/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
      {% endif %}

      {% if page.mermaid %}
        <script src="https://cdn.jsdelivr.net/npm/mermaid@11.4.1/dist/mermaid.min.js"></script>
        <script>
          function renderMermaid () {
            mermaid.initialize({
              startOnLoad:true,
              theme: "default"
            });
            window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
          }
          document.addEventListener('DOMContentLoaded', renderMermaid, false);
        </script>
      {% endif %}

      {% if page.code %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
        <script>
          hljs.highlightAll();
        </script>
      {% endif %}

      {% assign first_paragraph = page.content | markdownify | split: '</p>' | first %}
      <meta property="og:site_name" content="Mourjo Sen's Blog">
      <meta property="og:type" content="article">
      <meta property="article:published_time" content="{{ page.date }}">
      <meta name="title" content="{{ page.title }}">
      <meta property="og:title" content="{{ page.title }}">
      <meta name="description" content="{{ first_paragraph | strip_html | strip | truncate: 250 }}">
      <meta property="og:description" content="{{ first_paragraph | strip_html | strip | truncate: 250 }}">
      <meta property="og:url" content="https://mourjo.me/blog{{ page.url }}">
      <meta property="al:web:url" content="https://mourjo.me/blog{{ page.url }}">
      <meta property="og:image" content="https://mourjo.me/resources/images/card.jpg">
      <meta property="article:author" content="https://mourjo.me">
      <meta name="author" content="Mourjo Sen">
      <meta property="twitter:title" content="{{ page.title }}">
      <meta name="twitter:site" content="@mourjo_sen">
      <meta property="twitter:description" content="{{ first_paragraph | strip_html | strip | truncate: 250 }}">
      <meta name="twitter:image:src" content="https://mourjo.me/resources/images/card.jpg">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:creator" content="@mourjo_sen">
      <meta name="twitter:label1" content="Reading time">
      <meta name="twitter:data1" content="5 min read">

        
  {% else %}
    <title>Blog | Mourjo Sen</title>
    <meta property="og:site_name" content="Mourjo Sen's Blog">
    <meta property="og:type" content="article">
    <meta name="title" content="Blog | Mourjo Sen">
    <meta property="og:title" content="Blog | Mourjo Sen">
    <meta name="description" content="Blog articles by Mourjo Sen - long form articles and musings on Software Engineering. The blog on Mourjo Sen's website explores a variety of themes, blending long-form technical content with personal reflections with broader insights.">
    <meta property="og:description" content="Blog articles by Mourjo Sen - long form articles and musings on Software Engineering. The blog on Mourjo Sen's website explores a variety of themes, blending long-form technical content with personal reflections with broader insights.">
    <meta property="og:url" content="https://mourjo.me/blog">
    <meta property="al:web:url" content="https://mourjo.me/blog">
    <meta property="og:image" content="https://mourjo.me/resources/images/card.jpg">
    <meta property="article:author" content="https://mourjo.me">
    <meta name="author" content="Mourjo Sen">
    <meta property="twitter:title" content="Blog | Mourjo Sen">
    <meta name="twitter:site" content="@mourjo_sen">
    <meta property="twitter:description" content="Blog articles by Mourjo Sen - long form articles and musings on Software Engineering. The blog on Mourjo Sen's website explores a variety of themes, blending long-form technical content with personal reflections with broader insights.">
    <meta name="twitter:image:src" content="https://mourjo.me/resources/images/card.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@mourjo_sen">
    <meta name="twitter:label1" content="Reading time">
    <meta name="twitter:data1" content="5 min read">
  {% endif %}
  
  
  {% include analytics.html %}
  <link rel="stylesheet" href="{{site.baseurl}}/css/sketch.css">
</head>

<body>
  <div class="page">
    <div>
      <div class="header">
        <a class="brand" href="https://mourjo.me/">Mourjo Sen</a>

        <a href="{{site.baseurl}}/">Blog</a>
        &#124;
        <a target="_blank" href="https://mourjo.me/cv.pdf">CV</a>
      </div>
    </div>
    <div class="post">
      <div class="searchbar-container">
        <div class="search-container" id="search-container">
          <input type="text" id="search-bar" class="search-bar" placeholder="🔍 Search">
          <div class="search-results-container" id="search-results"></div>
        </div>
      </div>
      
      <main>
        <article>
          {{ content }}
        </article>
      </main>
      <div class="footer">
        <a href="{{site.baseurl}}/">Blog</a>
        &#124;
        <a target="_blank" href="https://mourjo.me/cv.pdf">CV</a>
      </div>
    </div>
  </div>
</body>
</html>
